@model Employee.Models.Employe
@{
    ViewBag.Title = "AddEmploye";
}

<h2 class="text-center mb-5 mt-5">Add Employe</h2>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="ec-block">
            <div class="ec-content">
                <div class="ec-contentInner">
                    @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger" })
                    <div class="form-group row mb-4">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col col-md-6 col-form-label" })
                        <div class="col col-md-6">
                            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "col col-md-6 form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col col-md-6 col-form-label" })
                        <div class="col col-md-6">
                            @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "col col-md-6 form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col col-md-6 col-form-label" })
                        <div class="col col-md-6">
                            @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "col col-md-6 form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary btn-lg" value="ADD" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
}
